In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import googlemaps
import requests
# Import the API key.
from config2 import g_key

In [26]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df["Lat"] = round(city_data_df["Lat"],2)
city_data_df["Lng"] = round(city_data_df["Lng"],2)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dikson,RU,2022-02-11 17:29:32,73.51,80.55,258.16,90,100,11.91
1,1,Thompson,CA,2022-02-11 17:26:33,55.74,-97.86,241.24,62,0,3.09
2,2,Sao Jose Da Coroa Grande,BR,2022-02-11 17:34:20,-8.90,-35.15,303.24,56,74,6.15
3,3,Odesskoye,RU,2022-02-11 17:34:20,54.21,72.97,249.46,98,7,5.16
4,4,Port Lincoln,AU,2022-02-11 17:33:23,-34.73,135.87,290.37,78,0,6.19

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature in theory for Farenheit/Celcius.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature (K) you would like for your trip? "))
max_temp = float(input("What is the maximum temperature (K) you would like for your trip? "))

What is the minimum temperature you would like for your trip? 298
What is the maximum temperature you would like for your trip? 320

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Sao Jose Da Coroa Grande,BR,2022-02-11 17:34:20,-8.90,-35.15,303.24,56,74,6.15
5,5,Amapa,BR,2022-02-11 17:34:21,1.00,-52.00,301.05,76,89,1.31
6,6,Vaini,TO,2022-02-11 17:34:21,-21.20,-175.20,299.24,94,40,2.06
10,10,Tautira,PF,2022-02-11 17:34:23,-17.73,-149.15,301.16,74,46,6.79
18,18,Rikitea,PF,2022-02-11 17:34:26,-23.12,-134.97,299.25,73,2,7.93
31,31,Bambous Virieux,MU,2022-02-11 17:33:11,-20.34,57.76,299.29,83,40,1.03
32,32,Nova Vicosa,BR,2022-02-11 17:34:31,-17.89,-39.37,301.93,63,36,4.44
33,33,Butaritari,KI,2022-02-11 17:34:31,3.07,172.79,300.27,80,73,7.40
35,35,Bonthe,SL,2022-02-11 17:34:32,7.53,-12.50,301.39,70,22,6.01
37,37,Saint-Philippe,RE,2022-02-11 17:34:32,-21.36,55.77,298.92,77,31,3.44

In [28]:
preferred_cities_df.count()

City_ID       134
City          134
Country       134
Date          134
Lat           134
Lng           134
Max Temp      134
Humidity      134
Cloudiness    134
Wind Speed    134
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                        City Country  Max Temp    Lat     Lng Hotel Name
2   Sao Jose Da Coroa Grande      BR    303.24  -8.90  -35.15
5                      Amapa      BR    301.05   1.00  -52.00
6                      Vaini      TO    299.24 -21.20 -175.20
10                   Tautira      PF    301.16 -17.73 -149.15
18                   Rikitea      PF    299.25 -23.12 -134.97
31           Bambous Virieux      MU    299.29 -20.34   57.76
32               Nova Vicosa      BR    301.93 -17.89  -39.37
33                Butaritari      KI    300.27   3.07  172.79
35                    Bonthe      SL    301.39   7.53  -12.50
37            Saint-Philippe      RE    298.92 -21.36   55.77

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": ""
}

In [45]:
print(hotel_df.loc[index, "Hotel Name"])

In [63]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotel_df.loc[index, "Hotel Name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Cr√¥a Mares Hotel
Hotel not found... skipping.
Keleti Beach Resort
Pension Oaoa
People ThankYou
Casa Tia Villa
Lua Cheia
Isles Sunset Lodge
Bonthe Holiday Village
Chambres d'h√¥te "La Trinit√©"
CHACARA BAILLY
Hospitality Carnarvon
Hotel Campos Dourados.
Hotel Concei√ß√£o
Divi Village Golf & Beach Resort
Bora-Bora Pearl Beach Resort & Spa
Villa Enata
Hotel Arena Blanca
Hotel GSA
Hotel not found... skipping.
Pousada dos Navegantes
Finch Bay Galapagos Hotel
Bils' Villa
Pousada Novo Acre
Hotel El Navegante
CeBlue Villas & Beach Resort
Las Cabinas Del Sue√±o
INN NEW HORIZON
SanBiz Lodge
El rranchito michuacan de ocampos
Hotel y restaurante "El Diamante"
HOTEL BIASI - ITAQUI/RS
Grafika Hotel Dan Restoran
Pousada da wanda
Atlantis Hotel
Hotel La Cascada
Hotel Xaguate
Tiara Labuan Hotel
Cititel Penang
Ulkel Guest House
Mercure Padang
Hotel not found... skipping.
‡∏™‡∏ß‡∏ô‡∏´‡∏ô‡∏¥‡∏á-‡∏≠‡∏±‡∏®
Hotel not found... skipping.
Requinte Hotel
Seagulls Inn Namatani
Hotel los Algarrobos
Nuli Sapi
Pousada Porto De Canoas
Hotel not found... skipping.
Hotel San Isidro Oficial
Hotel not found... skipping.
Gran Hotel Uruguay
Scoop Guest House
‡∏£‡∏±‡∏ö‡∏™‡πà‡∏á‡∏û‡∏±‡∏™‡∏î‡∏∏‡πÅ‡∏ü‡∏•‡∏ä
Casa do Ianüòé
ibis Styles Karratha
Hotel Pigalle
Raybow International Hotel
Nuevo Hotel Plaza
Hotel Castelo
Nusa Island Retreat
Monserrate
Bungalow 63
El Medina
Kudahuvadhoo Retreat
Pondok Wisata Elim
Adrian & Tonia
Low Cost Housing Estate
Hotel not found... skipping.
Villa Park Hotel | Natal
Shiringal Touristic Park
Quality Suites Vila Velha
Ungoofaaru Inn
Meadows
Haajy Guest House 1
Casa Gualberto - Deysi
Sheraton Nha Trang Hotel & Spa
Hotel Encanto Real
Halane Hotel and Restaurent
Hot√©is Ca√ßulinha
Holiday Inn Express Lompoc, an IHG Hotel
La pousada
Florence Hotel Ebolowa
Elimtop
Hospedaje Santa Ana
Hotel S√£o Vicente
Hotel not found... skipping.
Sunrise Attitude Hotel
Loews Miami Beach Hotel
Scuba Portobelo
Uruna Bay Retreat
hotel safari
Santa Ana Travel Inn
La Riviera Hotel Colonial
Lindsey H√¥tel
Hotel Minas
Aviador Hotel Boutique
HOTEL ISABELA
Hotel Festival Plaza Rosarito
Sheraton Gambia Hotel Resort & Spa
Radisson Grenada Beach Resort
Le G√Æte d‚ÄôIracoubo
Maitai Lapita Village Huahine
Panoramic Sea Resort
Pousada Monte Carmelo O P√£o
"Plantation Bed and Breakfast
Bonifacio Lodge
ALETHEIA Appartement Sinnamary
Hotel Flamingo
Shandrani Beachcomber Resort & Spa
Hotel Posada Agua Escondida
H√¥tel Le Dronmi
Veranda Paul et Virginie Hotel & Spa
Roma Zee Guest House Annex
Quinta Samay
Departamento Costa Pe√±uelas
Hotel not found... skipping.
Hotel not found... skipping.
ibis Styles Mt Isa Verona
Riverside Country Club Modderrivier
Gill Sleepover Guesthouse
Whispering Bamboo Cove Resort
Agan-Hotel
Ha'apai Beach Resort
Hotel Arrarte
Welcomhotel By ITC Hotels, Bay Island, Port Blair
JM Lodge
Hotel Costa Marina
Tanna Lodge
Residence Elonda Ewo
Wembley Park Hotel
Oumou Elghoura
Pousada e Hotel Litoral Sul

In [68]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} K</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) 
              for index, row in hotel_df.iterrows()]

In [69]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))